<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amirmohammed.hti22android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hti22Android"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LayoutsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.MainFActivity"
            android:exported="false" />
        <activity
            android:name=".ui.apis.ArticleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.apis.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.names.UpdateContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.names.AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.names.NamesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReceiveActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PickImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.IntentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CalculateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>